---
import { Image } from 'astro:assets';
import HeroBackground from '@assets/ui/report/hero-bg.jpg'
import HeroContent from '@assets/ui/report/en/hero-content.svg'
import HeroContentMB from '@assets/ui/report/en/hero-content-mb.svg'
import HeroBackgroundMB from '@assets/ui/report/hero-bg-mb.jpg'
---
<section class="hero">
    <div class="container negative">
        <div class="hero-wrap">
            <Image src={HeroBackground} loading="eager" alt="hero bg" class="img is-desk" />
            <Image src={HeroContent} loading="eager" alt="hero content" class="img is-desk" />
            <Image src={HeroBackgroundMB} loading="eager" alt="hero content" class="img is-mb" />
            <Image src={HeroContentMB} loading="eager" alt="hero content" class="img is-mb" />
        </div>
    </div>
</section>

<style lang="scss">
    .hero {
        &-wrap {
            display: grid;
            grid-template-columns: 1fr;
            > * {
                grid-area: 1/1/2/2;
            }
        }
    }
</style>