---
import { Image } from 'astro:assets';
import InforBG from '@assets/ui/contact/infor-bg.jpg'
import InforBGMB from '@assets/ui/contact/infor-bg-mb.jpg'
import InforContent from '@assets/ui/contact/infor-content.svg'
import InforContentMB from '@assets/ui/contact/infor-content-mb.svg'
---
<section class="infor">
    <div class="container">
        <div class="infor-bg negative">
            <Image src={InforBG} alt="text" class="img is-desk" />
            <Image src={InforBGMB} alt="text" class="img is-mb" />
        </div>
        <div class="infor-wrap">
            <Image src={InforContent} alt="text" class="img is-desk" />
            <Image src={InforContentMB} alt="text" class="img is-mb" />
        </div>
    </div>
</section>

<style lang="scss">
    @use '@styles/mixins' as *;
    .infor {
        .container {
            display: grid;
            grid-template-columns: 1fr;
            > * {
                grid-area: 1/1/2/2;
            }
        }
        &-wrap {
            padding-top: 8.8rem;
            display: flex;
            flex-direction: column;
            gap: 2.4rem 0;
            @include sm {
                padding-top: 4rem;
            }
        }
    }
</style>