---
import { Image } from 'astro:assets';
import HistoryBackground from '@assets/ui/story/history-bg.jpg';
import HistoryContent from '@assets/ui/story/history-content.svg';
---
<section class="history">
    <div class="container negative">
        <div class="history-wrap">
            <Image src={HistoryBackground} alt="history bg" class="img is-desk" />
            <Image src={HistoryContent} alt="hero content" class="img is-desk" />
        </div>
    </div>
</section>

<style lang="scss">
    .history {
        &-wrap {
            display: grid;
            grid-template-columns: 1fr;
            > * {
                grid-area: 1/1/2/2;
            }
        }
    }
</style>