---
import "@styles/global.scss";
import Header from '@components/global/Header.astro'
import Footer from '@components/global/Footer.astro'
import BaseHead from '@/layouts/BaseHead.astro';
import OpenGraph from '@assets/open-graph.jpg';
import { menu } from "@/i18n/default";
import { getLangFromUrl } from '@i18n/utils';
const { current_page } = Astro.props;
const lang = getLangFromUrl(Astro.url);

interface Props {
	title: string;
}
---
<!doctype html>
<html lang={lang}>
	<BaseHead title={menu[lang][current_page].name} image={OpenGraph}/>
	<body>
		<Header />
		<main>
			<slot/>
		</main>
		<Footer current_page={current_page}>
		<script>
			import main from "@/js/main";
			main();
		</script>
	</body>
</html>
